<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="user"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Url</ion-label>
    <ion-input type="text" [(ngModel)]="urlServer"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="validateUser()">Iniciar Sesion</ion-button>

</ion-content>