<ion-header>
  <ion-toolbar>
    <ion-title>Calificaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size=12>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{category}}</ion-card-subtitle>
            <ion-card-title>{{competitor}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="10">
        <ion-label>{{itemsJudges[0]}}</ion-label>
        <ion-range min="1" max="100" step="0.1" [(ngModel)]="score[0]"></ion-range>
      </ion-col>
      <ion-col size="2">
        <ion-label center>{{score[0]}}</ion-label>
      </ion-col>
      <ion-col size="10">
        <ion-label>{{itemsJudges[1]}}</ion-label>
        <ion-range min="1" max="100" step="0.1" [(ngModel)]="score[1]"></ion-range>
      </ion-col>
      <ion-col size="2">
        <ion-label center>{{score[1]}}</ion-label>
      </ion-col>
      <ion-col size="10">
        <ion-label>{{itemsJudges[2]}}</ion-label>
        <ion-range min="1" max="100" step="0.1" [(ngModel)]="score[2]"></ion-range>
      </ion-col>
      <ion-col size="2">
        <ion-label center>{{score[2]}}</ion-label>
      </ion-col>
      <ion-col size="10">
        <ion-label>{{itemsJudges[3]}}</ion-label>
        <ion-range min="1" max="100" step="0.1" [(ngModel)]="score[3]"></ion-range>
      </ion-col>
      <ion-col size="2">
        <ion-label center>{{score[3]}}</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" (click)="sendData();">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>